@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HospitalAppl.Models.Room

@foreach (var r in ViewBag.Rooms)
{
    <option value="@r["Room_Number"]">@r["Room_Number"]</option>
}