@using System.Data
@model HospitalAppl.Models.TestVM
<section style="background-color: #f9f9f8;min-height:55vh">
    <div class="container py-4">
        <div class="row">
            <div class="col">
                <div class="card my-4">
                    <div class="card-body">
                        <div class="card-title d-flex">
                            <h3>Request Test</h3>
                        </div>
                        <hr>
                        <form class="row g-3 o-sign-up" method="POST" asp-action="CreateRequest">
                            <input type="hidden" class="form-control" id="inlineFormInputGroupUsername" value='@Context.Request.Query["PatientUsername"]' asp-for="Test.Patient_Username" required/>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Test.Type_Name" class="form-label">Test Type</label>

                                    <select asp-for="Test.Type_Name" id="inputState" class="form-control">
                                        @foreach (DataRow option in Model.TypeNames.Rows)
                                        {
                                            <option value='@option["Type_Name"]'>@option["Type_Name"]</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label asp-for="Test.Test_Date" class="form-label">Test Date </label>
                                    <input type="datetime-local" class="form-control" asp-for="Test.Test_Date" required>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary">Confirm &nbsp; <i class="bi bi-caret-right-fill"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>